body {
  padding: 0;
  margin: 0;
}

.galaxy {
  background: url(images/galaxy.jpg);
  display: block;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
}

.main {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 40vh;
  max-width: 1024px;
}

footer {
  position: absolute;
  z-index: 10000;
  bottom: 0;
  color: #fff;
  font-family: arial;
  font-size: 13px;
  width: 100%;
  text-align: center; 
}

.social-container a:first-child {
  margin-right: 20px;
}

.download-cv {
  width: 200px;
  height: 45px;
  background: transparent;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  display: block;
  line-height: 45px;
  border-radius: 25px;
  margin: 15px auto;
  border: 2px solid #fff;
}

.download-cv:hover {
  background: #fff;
  color: #333;
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
}
